.card-container {
    display: flex;
    justify-content: center ;
}

.game-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.msg {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.card {
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 3px #ccc;
    width: 50px;
}